{% load django_template_maths %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carrinho</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>
<body>
<div>
    <div name="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'listarProdutos' %}">Django</a>

            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <ul class="navbar-nav mr-auto">
                    {% if not request.COOKIES.cliente %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'loginCliente' %}">Sign in/up</a>
                        </li>
                    {% endif %}
                    {% if request.COOKIES.cliente %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listarCarrinho' %}">({{ quantidade }}) Items no
                                carrinho</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'meusPedidos' %}">Meus Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                        </li>

                    {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'pesquisarProduto' %}">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" name="pesquisa" id="pesquisa" type="search"
                           placeholder="Pesquisar"
                           aria-label="Pesquisar">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                </form>
            </div>
        </nav>
    </div>
    <div style="margin-left: 35%">

        {% for produto in items %}
            <p>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{ produto.produto.image.url }}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ produto.produto.nome }}</h5>
            <p class="card-text">{{ produto.produto.descricao }}</p>
            <p class="card-text">R$ {{ produto.produto.preco }}</p>
            <p class="card-text">
                Total de produtos: {{ produto.quantidade }}
            <p class="card-text">R$ {{ produto.produto.preco|mul:produto.quantidade }}</p>

            </p>


            </div>
            </div>
            </div>
            </div>
            </p>
        {% endfor %}
</div>
</body>
</html>